.AuthMenu {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  height: 40px;
  align-items: center;
  margin: 0;
  font-size: 18px;
  margin-right: 13px;
}

.AuthMenu-item {
  font-size: 13px;
  line-height: 15px;
}