.CartGood {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  box-sizing: border-box;
}

.CartGood-code {
  padding: 20px 10px 24px 19px;
  line-height: 18px;
}

.CartGood-title {
  width: 100%;
  padding: 21px 11px 16px;
  line-height: 18px;
}

.CartGood-price {
  display: flex;
  justify-content: flex-end;
  padding: 22px 4px 18px 10px;
  text-wrap: nowrap;
  margin-right: 48px;
  line-height: 18px;
  font-size: 18px;
}

.CartGood-quantity {
  display: flex;
  justify-content: flex-end;
  padding: 22px 3px 18px 10px;
  text-wrap: nowrap;
  line-height: 18px;
  font-size: 18px;
}

.CartGood-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 21px 21px 21px;
}

.CartGood-actions > button {
  padding: 0px 10px 0px 11px;
}

