.Cart {
  display: flex;
  justify-content: flex-end;
}

.Cart-info {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  padding: 19px 0px 22px 20px;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
}

.Cart-info > strong {
  margin-left: 12px;
  font-size: 18px;
  line-height: 21px;
}

.Cart-button {
  padding: 20px 21px 19px 15px;
}

.Cart-button > button {
  padding: 1px 11px 1px 12px;
}

.Cart-emptyMessage {
  color: #808080;
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 0 20px;
  text-wrap: nowrap;
}