.PaginationButton {
  height: 20px;
  display: flex;
  width: fit-content;
  min-width: 20px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 18.4px;
  padding: 2px 3px 0px;
  font-weight: 400;
}

.PaginationButton:hover {
  background-color: #E1E1E1;
}

.PaginationButton_active,
.PaginationButton_active:hover{
  background-color: #0087E9;
  color: #fff;
}