.Good {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  box-sizing: border-box;
}

.Good-code {
  padding: 20px 10px 20px 20px;
}

.Good-title {
  width: 100%;
  padding: 20px 10px;
}

.Good-price {
  display: flex;
  justify-content: flex-end;
  padding: 19px 4px 21px 10px;
  text-wrap: nowrap;
}

.Good-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
