.Good {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  box-sizing: border-box;
}

.Good-code {
  padding: 22px 10px 17px 19px;
  line-height: 18px;
}

.Good-title {
  width: 100%;
  padding: 22px 10px 17px;
  line-height: 18px;
}

.Good-price {
  display: flex;
  justify-content: flex-end;
  padding: 21px 4px 18px 10px;
  text-wrap: nowrap;
  line-height: 18px;
  font-size: 18px;
}

.Good-actions {
  display: flex;
  justify-content: flex-end;
  padding: 21px 21px 18px 21px;
}
